<header class="text-gray-600 body-font">
  <div
    class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
  >
    <a
      class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
    >
      <span class="ml-3 text-xl">Boringer Avatars</span>
    </a>
    <nav
      class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center"
    >
      <a href="#styles" class="mr-5 hover:text-gray-900">Styles</a>
      <a href="#frameworks" class="mr-5 hover:text-gray-900">Frameworks</a>
      <a href="#contributing" class="mr-5 hover:text-gray-900">Contributing</a>
    </nav>
    <a
      href="https://github.com/cmgriffing/boringer-avatars"
      class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"
    >
      Github
    </a>
  </div>
</header>
