<div class="content" [class.dark]="theme === 'dark'">
  <div class="row">
    <div class="row">
      <variant-selector
        [variant]="variant"
        (onChange)="onVariantChange($event)"
      ></variant-selector>
    </div>
    <palette-selector
      [colors]="colors"
      (onChange)="onColorsChange($event)"
    ></palette-selector>
    <div class="row">
      <div class="inner-row">
        <shape-selector
          [shape]="shape"
          (onChange)="onShapeChange($event)"
        ></shape-selector>
        <size-selector
          [size]="size"
          (onChange)="onSizeChange($event)"
        ></size-selector>
        <light-dark-toggle
          [theme]="theme"
          (onChange)="onThemeChange($event)"
        ></light-dark-toggle>
      </div>
      <div class="inner-row">
        <library-links
          githubUrl="https://github.com/cmgriffing/boringer-avatars/blob/main/packages/lib-svelte"
        ></library-links>
      </div>
    </div>
  </div>
  <div class="avatar-list">
    <div class="avatar-list-item" *ngFor="let name of exampleNames">
      <avatar
        [title]="false"
        [size]="sizeNumber"
        [variant]="variant"
        [name]="name"
        [square]="isSquare"
        [colors]="colors"
      ></avatar>
      <div class="avatar-list-item-name">{{ name }}</div>
    </div>
  </div>
</div>
