<avatar
  variant="beam"
  [title]="false"
  [size]="420"
  name="testing"
  [square]="false"
  [colors]="['#FFAD08', '#EDD75A', '#73B06F', '#0C8F8F', '#405059']"
></avatar>

<avatar
  variant="bauhaus"
  [title]="false"
  [size]="420"
  name="FOOOOOBAAARRRR"
  [square]="false"
  [colors]="['#FFAD08', '#EDD75A', '#73B06F', '#0C8F8F', '#405059']"
></avatar>
<avatar
  variant="marble"
  [title]="false"
  [size]="420"
  name="FOOOOOBAAARRRR"
  [square]="false"
  [colors]="['#FFAD08', '#EDD75A', '#73B06F', '#0C8F8F', '#405059']"
></avatar>
<avatar
  variant="pixel"
  [title]="false"
  [size]="420"
  name="FOOOOOBAAARRRR"
  [square]="false"
  [colors]="['#FFAD08', '#EDD75A', '#73B06F', '#0C8F8F', '#405059']"
></avatar>
<avatar
  variant="ring"
  [title]="false"
  [size]="420"
  name="FOOOOOBAAARRRR"
  [square]="false"
  [colors]="['#FFAD08', '#EDD75A', '#73B06F', '#0C8F8F', '#405059']"
></avatar>
<avatar
  variant="sunset"
  [title]="false"
  [size]="420"
  name="FOOOOOBAAARRRR"
  [square]="false"
  [colors]="['#FFAD08', '#EDD75A', '#73B06F', '#0C8F8F', '#405059']"
></avatar>
