---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import FrameworkList from "../components/home/FrameworkList.astro";
import StylesList from "../components/home/StylesList.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
    <StylesList />
    <FrameworkList />
  </main>
</Layout>

<style is:global>
  a {
    padding: 4px 8px;
  }

  .hero-image {
    transition: all 1s;
    opacity: 1;
  }

  .blur {
    filter: blur(300px);
    opacity: 0;
  }
</style>
