---
import FrameworkListItem from "./FrameworkListItem.astro";

const frameworks = [
  {
    name: "React",
    logo: "react.svg",
    githubUrl:
      "https://github.com/cmgriffing/boringer-avatars/tree/main/packages/lib-react",
    demoUrl: "react",
    packageManager: "NPM",
    packageManagerUrl: "https://www.npmjs.com/package/@boringer-avatars/react",
  },

  {
    name: "Vue2",
    logo: "vue.svg",
    githubUrl:
      "https://github.com/cmgriffing/boringer-avatars/tree/main/packages/lib-vue2",
    demoUrl: "vue2",
    packageManager: "NPM",
    packageManagerUrl: "https://www.npmjs.com/package/@boringer-avatars/vue2",
  },
  {
    name: "Vue3",
    logo: "vue.svg",
    githubUrl:
      "https://github.com/cmgriffing/boringer-avatars/tree/main/packages/lib-vue3",
    demoUrl: "vue3",
    packageManager: "NPM",
    packageManagerUrl: "https://www.npmjs.com/package/@boringer-avatars/vue3",
  },

  {
    name: "Svelte",
    logo: "svelte.svg",
    githubUrl:
      "https://github.com/cmgriffing/boringer-avatars/tree/main/packages/lib-svelte",
    demoUrl: "svelte",
    packageManager: "NPM",
    packageManagerUrl: "https://www.npmjs.com/package/@boringer-avatars/svelte",
  },

  {
    name: "Solid",
    logo: "solid.svg",
    githubUrl:
      "https://github.com/cmgriffing/boringer-avatars/tree/main/packages/lib-solid",
    demoUrl: "solid",
    packageManager: "NPM",
    packageManagerUrl: "https://www.npmjs.com/package/@boringer-avatars/solid",
  },

  {
    name: "Angular",
    logo: "angular.svg",
    githubUrl:
      "https://github.com/cmgriffing/boringer-avatars/tree/main/packages/lib-angular",
    demoUrl: "angular",
    packageManager: "NPM",
    packageManagerUrl:
      "https://www.npmjs.com/package/@boringer-avatars/angular",
  },

  {
    name: "Qwik",
    logo: "qwik.svg",
    githubUrl:
      "https://github.com/cmgriffing/boringer-avatars/tree/main/packages/lib-qwik",
    demoUrl: "qwik",
    packageManager: "NPM",
    packageManagerUrl: "https://www.npmjs.com/package/@boringer-avatars/qwik",
  },
];
---

<section id="frameworks">
  <div
    class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl"
  >
    <h2
      class="text-3xl font-bold leading-none tracking-tighter text-neutral-600 md:text-6xl lg:text-4xl my-8 text-center"
    >
      Supported Frameworks
    </h2>
    <div
      class="grid w-full grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-12 mx-auto xl:grid-cols-4 px-16 md:px-0"
    >
      {
        frameworks.map((framework) => (
          <FrameworkListItem framework={framework} />
        ))
      }
    </div>
  </div>
</section>
